# --
# gitignore biodcase tiny ml

# ignore directory
output/
data/
submission/reports

# virtual env
.venv

# python specific
__pycache__

# other
#biodcase_tiny/embedded/firmware/main/feature_config_generated.h
biodcase_tiny/feature_extraction/FeatureConfig.py
biodcase_tiny/feature_extraction/FilterbankConfig.py