# --
# gitignore biodcase tiny ml

# output directory
your_output/

# virtual env
.venv

# python specific
__pycache__

# other
#biodcase_tiny/embedded/firmware/main/feature_config_generated.h
biodcase_tiny/feature_extraction/FeatureConfig.py
biodcase_tiny/feature_extraction/FilterbankConfig.py